/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;    
}
body{
    background-color: rgb(96, 135, 149);
    background-image: url('images/cc.jpg');
    background-size: cover;
}
.eye-icon{
    font-size:18px;
    line-height: 1;
    color:#333;
    transition: color 0.3s ease-in-out;
    margin-bottom:20px;
}

.container{
    background:#fff;
    width:25%;
    padding:1.5rem;
    margin:50px auto;
    border-radius:10px;
    box-shadow:0 20px 35px;
    

}
form{
     margin:0 2rem;
     text-align:left;
     font-size:13px;
}
.form-title{
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    padding:1.3rem;
    color: rgb(71, 105, 159);
    font-weight: 1000px;
    font-size : 30px;
}
input{
    width:100%;
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    padding-left:0.7rem;
    font-size:17px;
    background-color: transparent;   
}
.input-group{
    padding:1%;
    position:relative;
    color:grey;
    margin:3%;
}
  }
/* input:focus{
    background-color:;
} */
label{
    color:#9b8181;
    position:relative;
    top:-1.0;
    cursor:auto;
    transition: 0.3s ease all;
}
.recover{
    text-align:right;
    font-size:1rem;
    
}
.recover a{
    color:blue;
    text-decoration:none;
}
.button{
    font: size 1.1em;
    padding:7px ;
    border-radius:7px;
    outline:20px;
    border:none;
    width:104%;
    background-color:rgb(71, 105, 159);
    color:white;
    transition: 1s;
    margin:6px;
}
.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;    
    font-weight:bold;
}
button{
    background-color: transparent;
    font-size:1rem;
    border:none;
    color:rgb(125,125,235);
    font-weight:bold;
}
button:hover{
    color:blue;
}
.icons{
    text-align: center;
}
.icons i{
    color:rgb(71, 105, 159);
    padding:0.8rem 1.5rem;
    border-radius:16px;
    font-size: 1rem;
    cursor:pointer;
    border:2px solid;
    transition: 1s;
}
.icons i:hover{
    background:rgb(71, 105, 159);
}
.fa fa-user{
    color:#9b8181;
} */